/*default version*/
@font-face {
	font-family: 'otari';
	src:
		local('otari'),
		local('otari'),
		url('../fonts/Otari/Otari-LightItalic.otf')
		format('opentype');
}
/*bold version*/
/*
@font-face {
	font-family: 'otari-b';
	src:
		local('otari-b'),
		local('otari-b'),
		url('fonts/Otari/Otari-Bold.otf')
		format('opentype');
	font-weight: bold;
}
*/
/*container element*/
body, h1, h2, h3, h4 {
	font-family: 'otari' !important;
	text-transform: none;
	letter-spacing: 0;
}


body {
background: url(../img/VIGI-BOAT.jpg) no-repeat bottom center fixed;
background-color: #000;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
overflow: hidden;
clear: both;
}
.logo-nav {
	background:none !important;
	width: 100%;
}
.logo {
	width: 75px;
	margin: 0 auto;
}
.alt {
	width: 50px;
	margin-top: -35px;
	margin-left: auto;
	margin-right: auto;
}
.logo img {
	width: 75px;
	height: 75px;
	margin: 15px 0;
}
.intro {
	background: none;
	padding: 0;
}
.intro-body {
	padding: 0;
	margin: 0;
	background: none !important;
}


.iphone img {
	width: 300px;
/*	background: red;*/
}

.iphone, .cta {
	margin-top: 60px;

}

/*.iphone {
	background: url(../img/iphonegold.png);
	width: 552px;
	height: 824px;
}*/

.cta {
/*	width: 100%;
	height: 100%;*/
/*	background: blue;*/
}

#about {
	height: 100%;
	padding-top: 40px;
}
#about .btn {
	border-radius: 0;
	width: 40px;
	height: 40px;
}

.btn {
	padding: 0px;
/*	margin: 0px;*/
	line-height: 1;
	font-size: 35px;
}

.btn-circle {
	margin-top: -175px
}


.store {
/*
	width: 10px;
	height: 30px;
*/
/*	background: green;*/
/* 	margin: 0 3px; */
}


.store-links {
	width: 29%;
	margin: 0 2%;
	border: solid 3px white;
	padding-top: 10px;
}

.store-links img {
	width: 55px;
	opacity:.6;
	padding: 8px;
	/*height: 35px;*/
}

.store-links p {
	margin: 0 0;
	font-size: .8em;
	line-height: 2em;
}

.store img {
	width: 55px;
	opacity: .6;
}

.store-links:hover {
	cursor:pointer;
	background-color:rgba(255,255,255,.4);
	border:solid 3px white;
}

a {
	color: white;
}
.cta .row:first-child {
	margin-top: 60px;
}
.cta-btn {
	width: auto;
	height: 65px;
	margin-top: 30px;
	border: solid 3px white;
	background-color: rgba(0,0,0,.2)
}
.cta-btn p {
	line-height: 60px;
}

	form {
/* 		margin-top: 40px; */
	}
	.input{
		width: 100%;
		height: 50px;
		background: transparent;
		-webkit-background: transparent;
		border: solid 3px white;
		margin-top: 5px;
	}
	#username {
		margin-top: 0px;
	}
	.submit-btn {
/* 		width: 60%; */
		height: 45px;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
		border: solid 3px white;
		background-color: rgba(0,0,0,.2);
	}
	.submit-btn p {
		line-height: 40px;
	}



@media (max-width:992px) {
	.cta-copy {
		display: none;
	}
	.store {
		background: green;
	}
	.cta-store-icons {
		display: none;
	}
	.cta-btn {
		margin-top: -100px;
		max-width: 500px;
		margin-left: auto;
		margin-right: auto;
	}


}
@media (max-width: 767px) {
	.intro {
		margin: 0 0 !important;
/* 		background-color: blue; */
	}
	.intro-body {
		height: 100%;
	}
	.iphone img {
		width: 200px;
	}
	.cta-copy {
		display: none;
	}
	.cta-store-icons {
		display: none;
	}
	.cta-btn {
		margin-left: auto;
		margin-right: auto;
		margin-top: -95px;
		width: 300px;
	}
	h2 {
		font-size: 1.4em;
		font-family: 'otari';
	}
	.iphone, .cta {
		margin-top: 0px !important;
	}
	.content-section {
		padding: 0;
	}
	.cta-links-container {
		width: 100%;
	}
	.cta-links-wrapper {
		width: 72%;
		margin: 0 auto;
	}
	.store-links {
		width: 29%;
/* 		height: 65px; */
		margin-right: 2%;
		border: solid 3px white;
		padding-top: 5px;
		padding-left: 2%;
	}
	.store-links p {
		padding-left: 9px;
	}

	form {
/* 		margin-top: 40px; */
	}
	.input{
		width: 100%;
		height: 50px;
		background: transparent;
		-webkit-background: transparent;
		border: solid 3px white;
		margin-top: 5px;
	}
	.submit-btn {
		/*width: 60%;*/
		height: 45px;
		/*margin-top: 30px;*/
		margin-left: auto;
		margin-right: auto;
		border: solid 3px white;
		background-color: rgba(0,0,0,.2);
	}
	.submit-btn p {
		line-height: 40px;
	}

}

.form {
	padding-top: 15px;
}

.cta-store-icons-links {
	margin-left: 3PX;
}
